<html>
<head>
    <title>系統訊息 - 演唱會查詢系統</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <% if (user) { %>
            <a href="/content" class="btn">返回列表</a>
            <a href="/profile" class="btn"><%= user.username %></a>
            <a href="/create" class="btn">新增演唱會</a>
            <a href="/logout" class="btn btn-danger">登出</a>
        <% } else { %>
            <a href="/" class="btn">返回首頁</a>
            <a href="/login" class="btn">登入</a>
        <% } %>
    </div>
    <div class="container">
        <div class="header">
            <h1>系統訊息</h1>
        </div>
        <% if (user) { %>
            <div class="welcome-message">
                <h2>歡迎, <%= user.username %></h2>
                <p>您已使用 <b><%= user.type %></b> 登入，用戶 ID：<%= user.id %></p>
            </div>
        <% } %>
        <div class="message-box">
            <p class="message"><%= message %></p>
            <div class="action-buttons">
                <a href="/" class="btn">返回首頁</a>
            </div>
        </div>
    </div>
</body>
</html>
